p
{
    font-family: Arial, sans-serif;
}
.main-container
{
    background: url("background.jpg") no-repeat;
    height: 518px;
    width: 1200px;
}
#biography h1
{
    color:white;
    display: inline-block;
    margin-left:451px;
    text-align: center;
}
nav a{
    display: inline-flex;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-indent: 20px;
    flex-wrap: nowrap;
    height: auto;
    margin-top: 10px;
    border-left: 1px solid white;
    margin-right: 10px;
    margin-left:-2px;
}
#biography p
{
    display: inline-block;
    width:500px;
    margin-top:40px;
    font-size:14px;
    margin-left:290px;
    color: white;
    border-top: white;
    border-bottom: white;
    text-align: center;
    margin-bottom:50px;
}
#biography
{
    background: url("marija k-1.jpg") no-repeat left;
    display: inline-block;
    margin-left:200px;
    margin-top:7%;
}

